body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position:static;
    bottom: 0;
    width: 100%;
}